In [1]:
import math
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import *
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from tensorflow.keras.callbacks import EarlyStopping


import datetime
# Query testing section for 
import requests
from pprint import pprint

from sqlalchemy import create_engine,inspect,extract, desc
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
import pickle

engine = create_engine('postgres://cdqsorwmwqwvps:106bc84918890ac2fec51826ec8ef1b7f359e6f4edb690e89feed558f8864060@ec2-54-83-21-198.compute-1.amazonaws.com:5432/dlaahq3ooon8n')
session = Session(engine)

Base=automap_base()
Base.prepare(engine, reflect=True)
# print(Base.classes.keys())
cp = Base.classes.crypto_price

In [21]:
# pull in all data from the database for a specific coin for testing MSE on different models
coin = 'BTC'

cols = [cp.time, cp.high, cp.currency, cp.coin, cp.low, cp.open, cp.volumefrom, cp.volumeto, cp.close, cp.timestamp_date, cp.timestamp_year]

results = session.query(*cols).filter(cp.coin == coin).order_by(cp.time)

df = pd.read_sql(results.statement, session.bind)

df.head()

,time,high,currency,coin,low,open,volumefrom,volumeto,close,timestamp_date,timestamp_year
0,1388620800,886.21,USD,BTC,810.47,815.94,12811.63,10826907.96,856.91,2014-01-02,2014
1,1388707200,888.23,USD,BTC,839.44,856.91,9709.01,8409629.11,884.26,2014-01-03,2014
2,1388793600,932.16,USD,BTC,848.32,884.26,14239.01,12784626.88,924.69,2014-01-04,2014
3,1388880000,1029.86,USD,BTC,911.36,924.69,21374.20,20789364.52,1014.74,2014-01-05,2014
4,1388966400,1093.44,USD,BTC,964.74,1014.74,23076.53,23622237.65,1012.65,2014-01-06,2014

In [37]:
# Code to test MSE on last day predictions
pred_last_day_df = df[['timestamp_date','close']].copy()

pred_last_day_df['close_preds'] = pred_last_day_df['close'].shift(periods=1)

pred_last_day_df = pred_last_day_df.iloc[-365:, :]

# calculate root mean squared error
testScoreRMSE = np.sqrt(mean_squared_error(pred_last_day_df['close'].values, pred_last_day_df['close_preds'].values))
print('Test Score: %.2f RMSE' % (testScoreRMSE))

testScoreMAE = mean_absolute_error(pred_last_day_df['close'].values, pred_last_day_df['close_preds'].values)
print('Test Score: %.2f MAE' % (testScoreMAE))

Test Score: 1811.42 RMSE
Test Score: 1331.10 MAE

In [ ]:
# Code to test MSE on Linear Regression

In [ ]:
# Code to test MSE on Model 1 (inputs: close price, predict: close price)

In [ ]:
# Code to test MSE on Model 2 
# (inputs: close price, 20-day moving avg, 50-day moving avg, price velocity, price acceleration)
# prediction: price acceleration
# MSE calculated on back calcuated closing price (using acceleration -> velo -> price)

In [ ]:
# Code to test MSE on Model 3
# (inputs: )
# prediction: 
# MSE calculated on