In [1]:
# Dependencies
import requests


import pandas as pd
from pprint import pprint

from sqlalchemy import create_engine,inspect,extract
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

from config import api_key,pwd

import psycopg2

In [16]:
url = f"https://min-api.cryptocompare.com/data/v2/histohour?fsym=ETH&tsym=USD&limit=2000&toTs=-1&api_key={api_key}"
r = requests.get(url)
print(url)
data = r.json()

https://min-api.cryptocompare.com/data/v2/histohour?fsym=ETH&tsym=USD&limit=2000&toTs=-1&api_key=dc4728dd22f8b91d332ac4deb20c656f68eeb78d88c48341ae5df4616f5e4eee

In [11]:
df = pd.DataFrame(data['Data']['Data'])
df

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1636538400,4750.49,4703.88,4707.97,7101.13,3.362077e+07,4741.37,direct,
1,1636542000,4753.41,4730.00,4741.37,5930.94,2.810927e+07,4730.06,direct,
2,1636545600,4751.11,4701.05,4730.06,8140.67,3.847801e+07,4709.79,direct,
3,1636549200,4799.52,4695.74,4709.79,19116.08,9.084536e+07,4793.44,direct,
4,1636552800,4865.81,4792.80,4793.44,29467.29,1.424324e+08,4845.65,direct,
...,...,...,...,...,...,...,...,...,...
1996,1643724000,2811.83,2758.09,2793.43,27906.55,7.779503e+07,2772.74,direct,
1997,1643727600,2774.06,2732.42,2772.74,37192.76,1.022727e+08,2769.68,direct,
1998,1643731200,2814.09,2768.56,2769.68,22249.98,6.204052e+07,2804.82,direct,
1999,1643734800,2810.49,2767.88,2804.82,20816.78,5.797506e+07,2783.57,direct,
2000,1643738400,2784.66,2774.06,2783.57,3524.92,9.796459e+06,2783.56,direct,

In [17]:
maxTs = df.iloc[0]['time']
limit = 2000
histo = 'histohour'
oldestTs = 1452680400
count = 0
while maxTs >= oldestTs:
    maxTs = df.iloc[0]['time']
    
   
    maxTs -= 1
    # API call with the oldest ts
    url = f"https://min-api.cryptocompare.com/data/v2/{histo}?fsym=ETH&tsym=USD&limit={limit}&toTs={maxTs}&api_key={api_key}"
    r = requests.get(url)
    data = r.json()
    price_df = pd.DataFrame(data['Data']['Data'])
    df = price_df.append(df)
    count += 1

In [18]:
Newdf = df[['time','high','low','open','volumefrom','volumeto','close','conversionType']].copy()
Newdf

,time,high,low,open,volumefrom,volumeto,close,conversionType
0,1442041200,0.9978,0.9877,0.9966,19260.11,1.903781e+04,0.9885,multiply
1,1442044800,1.0020,0.9862,0.9885,24928.77,2.488376e+04,0.9982,multiply
2,1442048400,1.0190,0.9928,0.9982,67076.33,6.826323e+04,1.0180,multiply
3,1442052000,1.0330,1.0160,1.0180,40393.45,4.167311e+04,1.0320,multiply
4,1442055600,1.1030,1.0350,1.0320,47506.56,5.054622e+04,1.0640,multiply
...,...,...,...,...,...,...,...,...
1996,1643724000,2811.8300,2758.0900,2793.4300,27906.55,7.779503e+07,2772.7400,direct
1997,1643727600,2774.0600,2732.4200,2772.7400,37192.76,1.022727e+08,2769.6800,direct
1998,1643731200,2814.0900,2768.5600,2769.6800,22249.98,6.204052e+07,2804.8200,direct
1999,1643734800,2810.4900,2767.8800,2804.8200,20816.78,5.797506e+07,2783.5700,direct
2000,1643738400,2784.6600,2774.0600,2783.5700,3524.92,9.796459e+06,2783.5600,direct

In [19]:
Newdf.dropna()

,time,high,low,open,volumefrom,volumeto,close,conversionType
0,1442041200,0.9978,0.9877,0.9966,19260.11,1.903781e+04,0.9885,multiply
1,1442044800,1.0020,0.9862,0.9885,24928.77,2.488376e+04,0.9982,multiply
2,1442048400,1.0190,0.9928,0.9982,67076.33,6.826323e+04,1.0180,multiply
3,1442052000,1.0330,1.0160,1.0180,40393.45,4.167311e+04,1.0320,multiply
4,1442055600,1.1030,1.0350,1.0320,47506.56,5.054622e+04,1.0640,multiply
...,...,...,...,...,...,...,...,...
1996,1643724000,2811.8300,2758.0900,2793.4300,27906.55,7.779503e+07,2772.7400,direct
1997,1643727600,2774.0600,2732.4200,2772.7400,37192.76,1.022727e+08,2769.6800,direct
1998,1643731200,2814.0900,2768.5600,2769.6800,22249.98,6.204052e+07,2804.8200,direct
1999,1643734800,2810.4900,2767.8800,2804.8200,20816.78,5.797506e+07,2783.5700,direct
2000,1643738400,2784.6600,2774.0600,2783.5700,3524.92,9.796459e+06,2783.5600,direct

In [20]:
Newdf['timestamp_date'] = pd.to_datetime(Newdf['time'],unit = 's')
Newdf.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,timestamp_date
0,1442041200,0.9978,0.9877,0.9966,19260.11,19037.81,0.9885,multiply,2015-09-12 07:00:00
1,1442044800,1.0020,0.9862,0.9885,24928.77,24883.76,0.9982,multiply,2015-09-12 08:00:00
2,1442048400,1.0190,0.9928,0.9982,67076.33,68263.23,1.0180,multiply,2015-09-12 09:00:00
3,1442052000,1.0330,1.0160,1.0180,40393.45,41673.11,1.0320,multiply,2015-09-12 10:00:00
4,1442055600,1.1030,1.0350,1.0320,47506.56,50546.22,1.0640,multiply,2015-09-12 11:00:00

In [21]:
Newdf['timestamp_Year'] = pd.to_datetime(Newdf['timestamp_date'],errors = 'ignore').dt.year
Newdf.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,timestamp_date,timestamp_Year
0,1442041200,0.9978,0.9877,0.9966,19260.11,19037.81,0.9885,multiply,2015-09-12 07:00:00,2015
1,1442044800,1.0020,0.9862,0.9885,24928.77,24883.76,0.9982,multiply,2015-09-12 08:00:00,2015
2,1442048400,1.0190,0.9928,0.9982,67076.33,68263.23,1.0180,multiply,2015-09-12 09:00:00,2015
3,1442052000,1.0330,1.0160,1.0180,40393.45,41673.11,1.0320,multiply,2015-09-12 10:00:00,2015
4,1442055600,1.1030,1.0350,1.0320,47506.56,50546.22,1.0640,multiply,2015-09-12 11:00:00,2015

In [22]:
CryptoETH_df = Newdf[['high','low','open','close','timestamp_date']]
CryptoETH_df

           high        low       open      close      timestamp_date
0        0.9978     0.9877     0.9966     0.9885 2015-09-12 07:00:00
1        1.0020     0.9862     0.9885     0.9982 2015-09-12 08:00:00
2        1.0190     0.9928     0.9982     1.0180 2015-09-12 09:00:00
3        1.0330     1.0160     1.0180     1.0320 2015-09-12 10:00:00
4        1.1030     1.0350     1.0320     1.0640 2015-09-12 11:00:00
...         ...        ...        ...        ...                 ...
1996  2811.8300  2758.0900  2793.4300  2772.7400 2022-02-01 14:00:00
1997  2774.0600  2732.4200  2772.7400  2769.6800 2022-02-01 15:00:00
1998  2814.0900  2768.5600  2769.6800  2804.8200 2022-02-01 16:00:00
1999  2810.4900  2767.8800  2804.8200  2783.5700 2022-02-01 17:00:00
2000  2784.6600  2774.0600  2783.5700  2783.5600 2022-02-01 18:00:00

[56028 rows x 5 columns]

In [23]:
Newdf.insert(2,"Coin","ETH")

In [24]:
Newdf.insert(2,"Currency","USD")

In [25]:
url = f"https://min-api.cryptocompare.com/data/v2/histoday?fsym=ETH&tsym=USD&limit=2000&toTs=-1&api_key={api_key}"
r = requests.get(url)
data = r.json()

In [26]:
df_daily = pd.DataFrame(data['Data']['Data'])
df_daily.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1470873600,12.35,11.59,12.22,254376.79,3016560.99,11.68,direct,
1,1470960000,12.04,11.58,11.68,175007.67,2065414.17,11.78,direct,
2,1471046400,11.76,11.45,11.77,421906.12,4861315.77,11.52,multiply,BTC
3,1471132800,11.44,11.07,11.52,473382.90,5287993.65,11.17,multiply,BTC
4,1471219200,11.25,10.99,11.17,368718.89,4124461.30,11.19,multiply,BTC

In [27]:
maxTs = df_daily.iloc[0]['time']
limit = 2000
histo = 'histoday'
oldestTs = 1452680400
count = 0

while maxTs >= oldestTs:

    maxTs = df_daily.iloc[0]['time']
    
    maxTs -= 1
    
    # API call with the oldest ts
    url = f"https://min-api.cryptocompare.com/data/v2/{histo}?fsym=BTC&tsym=USD&limit={limit}&toTs={maxTs}&api_key={api_key}"
    r = requests.get(url)
    data = r.json()
    price_df = pd.DataFrame(data['Data']['Data'])
    df_daily = price_df.append(df_daily)
    count += 1

In [28]:
df_daily = df_daily[df_daily['time'] >= 1452680400]
df_daily

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
1791,1452729600,433.74,427.01,432.18,46172.51,1.994873e+07,429.13,direct,
1792,1452816000,430.15,364.71,429.13,268141.73,1.070606e+08,372.26,direct,
1793,1452902400,386.72,350.39,372.26,183962.03,6.829711e+07,385.04,direct,
1794,1452988800,390.72,377.71,385.04,66089.34,2.546438e+07,382.47,direct,
1795,1453075200,387.29,373.21,382.47,69301.33,2.654647e+07,384.40,direct,
...,...,...,...,...,...,...,...,...,...
1996,1643328000,2558.86,2359.78,2425.83,427257.35,1.045739e+09,2547.03,direct,
1997,1643414400,2637.58,2522.26,2547.03,252029.25,6.486930e+08,2603.10,direct,
1998,1643500800,2639.97,2544.43,2603.10,191134.80,4.960793e+08,2603.24,direct,
1999,1643587200,2707.52,2479.42,2603.24,354789.83,9.234732e+08,2689.14,direct,
2000,1643673600,2814.09,2676.94,2689.14,298235.37,8.216694e+08,2785.91,direct,

In [29]:
Newdf_daily = df_daily[['time','high','low','open','volumefrom','volumeto','close','conversionType']].copy()
Newdf_daily.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType
1791,1452729600,433.74,427.01,432.18,46172.51,1.994873e+07,429.13,direct
1792,1452816000,430.15,364.71,429.13,268141.73,1.070606e+08,372.26,direct
1793,1452902400,386.72,350.39,372.26,183962.03,6.829711e+07,385.04,direct
1794,1452988800,390.72,377.71,385.04,66089.34,2.546438e+07,382.47,direct
1795,1453075200,387.29,373.21,382.47,69301.33,2.654647e+07,384.40,direct

In [30]:
Newdf_daily.insert(2,"Coin","ETH")

In [31]:
Newdf_daily.insert(2,"Currency","USD")

In [32]:
Newdf_daily.dropna()

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType
1791,1452729600,433.74,USD,ETH,427.01,432.18,46172.51,1.994873e+07,429.13,direct
1792,1452816000,430.15,USD,ETH,364.71,429.13,268141.73,1.070606e+08,372.26,direct
1793,1452902400,386.72,USD,ETH,350.39,372.26,183962.03,6.829711e+07,385.04,direct
1794,1452988800,390.72,USD,ETH,377.71,385.04,66089.34,2.546438e+07,382.47,direct
1795,1453075200,387.29,USD,ETH,373.21,382.47,69301.33,2.654647e+07,384.40,direct
...,...,...,...,...,...,...,...,...,...,...
1996,1643328000,2558.86,USD,ETH,2359.78,2425.83,427257.35,1.045739e+09,2547.03,direct
1997,1643414400,2637.58,USD,ETH,2522.26,2547.03,252029.25,6.486930e+08,2603.10,direct
1998,1643500800,2639.97,USD,ETH,2544.43,2603.10,191134.80,4.960793e+08,2603.24,direct
1999,1643587200,2707.52,USD,ETH,2479.42,2603.24,354789.83,9.234732e+08,2689.14,direct
2000,1643673600,2814.09,USD,ETH,2676.94,2689.14,298235.37,8.216694e+08,2785.91,direct

In [33]:
Newdf_daily['timestamp_date'] = pd.to_datetime(Newdf_daily['time'],unit = 's')
Newdf_daily.head()

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType,timestamp_date
1791,1452729600,433.74,USD,ETH,427.01,432.18,46172.51,1.994873e+07,429.13,direct,2016-01-14
1792,1452816000,430.15,USD,ETH,364.71,429.13,268141.73,1.070606e+08,372.26,direct,2016-01-15
1793,1452902400,386.72,USD,ETH,350.39,372.26,183962.03,6.829711e+07,385.04,direct,2016-01-16
1794,1452988800,390.72,USD,ETH,377.71,385.04,66089.34,2.546438e+07,382.47,direct,2016-01-17
1795,1453075200,387.29,USD,ETH,373.21,382.47,69301.33,2.654647e+07,384.40,direct,2016-01-18

In [34]:
Newdf_daily['timestamp_Year'] = pd.to_datetime(Newdf_daily['timestamp_date'],errors = 'ignore').dt.year
Newdf_daily

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType,timestamp_date,timestamp_Year
1791,1452729600,433.74,USD,ETH,427.01,432.18,46172.51,1.994873e+07,429.13,direct,2016-01-14,2016
1792,1452816000,430.15,USD,ETH,364.71,429.13,268141.73,1.070606e+08,372.26,direct,2016-01-15,2016
1793,1452902400,386.72,USD,ETH,350.39,372.26,183962.03,6.829711e+07,385.04,direct,2016-01-16,2016
1794,1452988800,390.72,USD,ETH,377.71,385.04,66089.34,2.546438e+07,382.47,direct,2016-01-17,2016
1795,1453075200,387.29,USD,ETH,373.21,382.47,69301.33,2.654647e+07,384.40,direct,2016-01-18,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1643328000,2558.86,USD,ETH,2359.78,2425.83,427257.35,1.045739e+09,2547.03,direct,2022-01-28,2022
1997,1643414400,2637.58,USD,ETH,2522.26,2547.03,252029.25,6.486930e+08,2603.10,direct,2022-01-29,2022
1998,1643500800,2639.97,USD,ETH,2544.43,2603.10,191134.80,4.960793e+08,2603.24,direct,2022-01-30,2022
1999,1643587200,2707.52,USD,ETH,2479.42,2603.24,354789.83,9.234732e+08,2689.14,direct,2022-01-31,2022
2000,1643673600,2814.09,USD,ETH,2676.94,2689.14,298235.37,8.216694e+08,2785.91,direct,2022-02-01,2022

In [35]:
Newdf_daily.to_csv("CrytoETH_daily.csv",index=False)

In [36]:
CryptoETHdaily_df = Newdf_daily[['volumefrom','high','low','open','close','timestamp_date']]
CryptoETHdaily_df

      volumefrom     high      low     open    close timestamp_date
1791    46172.51   433.74   427.01   432.18   429.13     2016-01-14
1792   268141.73   430.15   364.71   429.13   372.26     2016-01-15
1793   183962.03   386.72   350.39   372.26   385.04     2016-01-16
1794    66089.34   390.72   377.71   385.04   382.47     2016-01-17
1795    69301.33   387.29   373.21   382.47   384.40     2016-01-18
...          ...      ...      ...      ...      ...            ...
1996   427257.35  2558.86  2359.78  2425.83  2547.03     2022-01-28
1997   252029.25  2637.58  2522.26  2547.03  2603.10     2022-01-29
1998   191134.80  2639.97  2544.43  2603.10  2603.24     2022-01-30
1999   354789.83  2707.52  2479.42  2603.24  2689.14     2022-01-31
2000   298235.37  2814.09  2676.94  2689.14  2785.91     2022-02-01

[2211 rows x 6 columns]

In [37]:
CryptoETHdaily_df.reset_index(drop=True, inplace=True)
CryptoETHdaily_df.to_json('CryptoETH_daily.json')

In [38]:
from sqlalchemy import Column, Integer, String, Float,BigInteger,Boolean,Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func
Base=declarative_base()

In [39]:
 class CryptoCurr(Base):
    __tablename__ = 'cryptoeth_price'
    id = Column(Integer, primary_key=True)
    time = Column(Integer)
    high = Column(Float)
    Currency = Column(String)
    Coin = Column(String)
    low = Column(Float)
    open = Column(Float)
    volumefrom = Column(Float)
    volumeto = Column(Float)
    close = Column(Float)
    conversionType = Column(String)
    timestamp_date = Column(Date)
    timestamp_Year = Column(Integer)

In [40]:
engine = create_engine(f'postgresql://postgres:{pwd}@localhost:5432/Crypto_db')

In [41]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [42]:
Newdf_daily.to_sql('cryptoeth_price', con=engine,if_exists="append",index=False)
Base.metadata.create_all(engine)

In [43]:
session = Session(bind=engine)

In [44]:
#This query is get the Highest close price for all the data. 
results = session.query(func.date_part("Year",CryptoCurr.timestamp_date),func.Max(CryptoCurr.close - CryptoCurr.open)).\
          group_by(func.Date_Part("Year",CryptoCurr.timestamp_date)).limit(10).all() 

df = pd.DataFrame(results,columns=['Year','ClosePrice'])
print(df)

     Year  ClosePrice
0  2022.0      156.64
1  2019.0       31.32
2  2018.0      153.13
3  2020.0       49.12
4  2021.0      550.20
5  2016.0       74.95
6  2017.0      143.16

In [45]:
#This Result is to get the Total ETH traded after 2020 with high price and low price.
results = session.query((CryptoCurr.timestamp_date),func.Max(CryptoCurr.high),func.Min(CryptoCurr.low),CryptoCurr.open,CryptoCurr.close,func.SUM(CryptoCurr.volumefrom)).\
          filter(CryptoCurr.timestamp_date > '2020-01-01').\
          group_by(CryptoCurr.timestamp_date,CryptoCurr.open,CryptoCurr.close,CryptoCurr.volumefrom).\
          order_by(CryptoCurr.volumefrom.desc()).limit(50).all() 


df = pd.DataFrame(results,columns=['Date','high','low','open','close','volumefrom'])
df.head()

        Date    high     low    open   close   volumefrom
0 2020-03-13  140.36  125.16  110.23  135.18  10980332.09
1 2020-03-12  120.81  105.22  194.82  110.23   7856259.11
2 2020-01-14  169.63  152.69  143.49  165.66   6955259.26
3 2020-02-12  276.91  239.45  237.74  265.94   6162261.70
4 2020-03-16  117.55  109.98  123.64  111.34   5953248.59

In [47]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'ETHData.json',orient='records')

In [48]:
#Latest Closing Price
results = session.query(CryptoCurr.timestamp_date,CryptoCurr.close).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all() 
print(results)

df = pd.DataFrame(results,columns=['Date','close'])
df.head()

[(datetime.datetime(2022, 2, 1, 0, 0), 2785.91)]

        Date    close
0 2022-02-01  2785.91

In [49]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'latestETHClosePrice.json',orient='records')

In [50]:
#All time high
results = session.query(func.Max(CryptoCurr.high)).\
          group_by(CryptoCurr.high).\
          order_by(CryptoCurr.high.desc()).limit(1).all()

df = pd.DataFrame(results,columns=['high'])
df.head()

      high
0  4865.94

In [51]:
df.to_json(r'ETHAlltimehigh.json',orient='records')

In [52]:
#All time low price

results = session.query(func.Min(CryptoCurr.low)).\
          group_by(CryptoCurr.low).\
          order_by(CryptoCurr.low.asc()).limit(1).all()

df = pd.DataFrame(results,columns=['low'])
df.head()

     low
0  5.971

In [53]:
df.to_json(r'ETHAlltimelow.json',orient='records')

In [54]:
#Latest Opening Price
results = session.query(CryptoCurr.timestamp_date,CryptoCurr.open).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all() 
print(results)

df = pd.DataFrame(results,columns=['Date','open'])
df.head()

[(datetime.datetime(2022, 2, 1, 0, 0), 2689.14)]

        Date     open
0 2022-02-01  2689.14

In [55]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'ETHlatestOpenPrice.json',orient='records')

In [56]:
#total volume for current date
results = session.query(CryptoCurr.timestamp_date,func.SUM(CryptoCurr.volumefrom)).\
          group_by(CryptoCurr.timestamp_date).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all()

df = pd.DataFrame(results,columns=['Date','Volume'])
df.head()

        Date     Volume
0 2022-02-01  298235.37

In [57]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'ETHTotalVolume.json',orient='records')

In [ ]:
session.close()