In [1]:
# Dependencies
import requests


import pandas as pd
from pprint import pprint

from sqlalchemy import create_engine,inspect,extract
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

from config import api_key,pwd

import psycopg2

In [2]:
url = f"https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=2000&toTs=-1&api_key={api_key}"
r = requests.get(url)
data = r.json()

In [3]:
df_daily = pd.DataFrame(data['Data']['Data'])
df_daily.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1470960000,591.14,582.20,587.84,25501.78,15009452.98,587.14,direct,
1,1471046400,590.07,582.81,587.14,19303.82,11357750.81,584.59,direct,
2,1471132800,585.80,559.93,584.59,33065.80,18970094.63,569.06,direct,
3,1471219200,574.97,559.28,569.06,33771.15,19218972.96,566.95,direct,
4,1471305600,583.38,563.38,566.95,37689.33,21634083.15,580.19,direct,

In [4]:
maxTs = df_daily.iloc[0]['time']
limit = 2000
histo = 'histoday'
oldestTs = 1388563200
count = 0

while maxTs >= oldestTs:

    maxTs = df_daily.iloc[0]['time']
    
    maxTs -= 1
    
    # API call with the oldest ts
    url = f"https://min-api.cryptocompare.com/data/v2/{histo}?fsym=BTC&tsym=USD&limit={limit}&toTs={maxTs}&api_key={api_key}"
    r = requests.get(url)
    data = r.json()
    price_df = pd.DataFrame(data['Data']['Data'])
    df_daily = price_df.append(df_daily)
    count += 1

In [5]:
df_daily = df_daily[df_daily['time'] >= 1388563200]
df_daily

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
1048,1388620800,886.21,810.47,815.94,12811.63,1.082691e+07,856.91,direct,
1049,1388707200,888.23,839.44,856.91,9709.01,8.409629e+06,884.26,direct,
1050,1388793600,932.16,848.32,884.26,14239.01,1.278463e+07,924.69,direct,
1051,1388880000,1029.86,911.36,924.69,21374.20,2.078936e+07,1014.74,direct,
1052,1388966400,1093.44,964.74,1014.74,23076.53,2.362224e+07,1012.65,direct,
...,...,...,...,...,...,...,...,...,...
1996,1643414400,38728.29,37343.45,37744.70,24097.29,9.135516e+08,38184.86,direct,
1997,1643500800,38364.51,37377.53,38184.86,17354.80,6.581549e+08,37908.44,direct,
1998,1643587200,38769.81,36660.70,37908.44,34716.41,1.310843e+09,38494.66,direct,
1999,1643673600,39281.06,38033.98,38494.66,32504.03,1.255765e+09,38721.49,direct,
2000,1643760000,38883.19,38411.19,38721.49,2195.86,8.477939e+07,38696.48,direct,

In [6]:
Newdf_daily = df_daily[['time','high','low','open','volumefrom','volumeto','close','conversionType']].copy()
Newdf_daily.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType
1048,1388620800,886.21,810.47,815.94,12811.63,10826907.96,856.91,direct
1049,1388707200,888.23,839.44,856.91,9709.01,8409629.11,884.26,direct
1050,1388793600,932.16,848.32,884.26,14239.01,12784626.88,924.69,direct
1051,1388880000,1029.86,911.36,924.69,21374.20,20789364.52,1014.74,direct
1052,1388966400,1093.44,964.74,1014.74,23076.53,23622237.65,1012.65,direct

In [7]:
Newdf_daily.insert(2,"Coin","BTC")

In [8]:
Newdf_daily.insert(2,"Currency","USD")

In [9]:
Newdf_daily.dropna()

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType
1048,1388620800,886.21,USD,BTC,810.47,815.94,12811.63,1.082691e+07,856.91,direct
1049,1388707200,888.23,USD,BTC,839.44,856.91,9709.01,8.409629e+06,884.26,direct
1050,1388793600,932.16,USD,BTC,848.32,884.26,14239.01,1.278463e+07,924.69,direct
1051,1388880000,1029.86,USD,BTC,911.36,924.69,21374.20,2.078936e+07,1014.74,direct
1052,1388966400,1093.44,USD,BTC,964.74,1014.74,23076.53,2.362224e+07,1012.65,direct
...,...,...,...,...,...,...,...,...,...,...
1996,1643414400,38728.29,USD,BTC,37343.45,37744.70,24097.29,9.135516e+08,38184.86,direct
1997,1643500800,38364.51,USD,BTC,37377.53,38184.86,17354.80,6.581549e+08,37908.44,direct
1998,1643587200,38769.81,USD,BTC,36660.70,37908.44,34716.41,1.310843e+09,38494.66,direct
1999,1643673600,39281.06,USD,BTC,38033.98,38494.66,32504.03,1.255765e+09,38721.49,direct
2000,1643760000,38883.19,USD,BTC,38411.19,38721.49,2195.86,8.477939e+07,38696.48,direct

In [10]:
Newdf_daily['timestamp_date'] = pd.to_datetime(Newdf_daily['time'],unit = 's')
Newdf_daily.head()

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType,timestamp_date
1048,1388620800,886.21,USD,BTC,810.47,815.94,12811.63,10826907.96,856.91,direct,2014-01-02
1049,1388707200,888.23,USD,BTC,839.44,856.91,9709.01,8409629.11,884.26,direct,2014-01-03
1050,1388793600,932.16,USD,BTC,848.32,884.26,14239.01,12784626.88,924.69,direct,2014-01-04
1051,1388880000,1029.86,USD,BTC,911.36,924.69,21374.20,20789364.52,1014.74,direct,2014-01-05
1052,1388966400,1093.44,USD,BTC,964.74,1014.74,23076.53,23622237.65,1012.65,direct,2014-01-06

In [11]:
Newdf_daily['timestamp_Year'] = pd.to_datetime(Newdf_daily['timestamp_date'],errors = 'ignore').dt.year
Newdf_daily

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType,timestamp_date,timestamp_Year
1048,1388620800,886.21,USD,BTC,810.47,815.94,12811.63,1.082691e+07,856.91,direct,2014-01-02,2014
1049,1388707200,888.23,USD,BTC,839.44,856.91,9709.01,8.409629e+06,884.26,direct,2014-01-03,2014
1050,1388793600,932.16,USD,BTC,848.32,884.26,14239.01,1.278463e+07,924.69,direct,2014-01-04,2014
1051,1388880000,1029.86,USD,BTC,911.36,924.69,21374.20,2.078936e+07,1014.74,direct,2014-01-05,2014
1052,1388966400,1093.44,USD,BTC,964.74,1014.74,23076.53,2.362224e+07,1012.65,direct,2014-01-06,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1643414400,38728.29,USD,BTC,37343.45,37744.70,24097.29,9.135516e+08,38184.86,direct,2022-01-29,2022
1997,1643500800,38364.51,USD,BTC,37377.53,38184.86,17354.80,6.581549e+08,37908.44,direct,2022-01-30,2022
1998,1643587200,38769.81,USD,BTC,36660.70,37908.44,34716.41,1.310843e+09,38494.66,direct,2022-01-31,2022
1999,1643673600,39281.06,USD,BTC,38033.98,38494.66,32504.03,1.255765e+09,38721.49,direct,2022-02-01,2022
2000,1643760000,38883.19,USD,BTC,38411.19,38721.49,2195.86,8.477939e+07,38696.48,direct,2022-02-02,2022

In [12]:
Newdf_daily.to_csv("Cryto_daily.csv",index=False)

In [13]:
Cryptodaily_df = Newdf_daily[['volumefrom','high','low','open','close','timestamp_date']]
Cryptodaily_df

      volumefrom      high       low      open     close timestamp_date
1048    12811.63    886.21    810.47    815.94    856.91     2014-01-02
1049     9709.01    888.23    839.44    856.91    884.26     2014-01-03
1050    14239.01    932.16    848.32    884.26    924.69     2014-01-04
1051    21374.20   1029.86    911.36    924.69   1014.74     2014-01-05
1052    23076.53   1093.44    964.74   1014.74   1012.65     2014-01-06
...          ...       ...       ...       ...       ...            ...
1996    24097.29  38728.29  37343.45  37744.70  38184.86     2022-01-29
1997    17354.80  38364.51  37377.53  38184.86  37908.44     2022-01-30
1998    34716.41  38769.81  36660.70  37908.44  38494.66     2022-01-31
1999    32504.03  39281.06  38033.98  38494.66  38721.49     2022-02-01
2000     2195.86  38883.19  38411.19  38721.49  38696.48     2022-02-02

[2954 rows x 6 columns]

In [14]:
Cryptodaily_df.sort_values(by='timestamp_date', ascending=False)
Cryptodaily_df

      volumefrom      high       low      open     close timestamp_date
1048    12811.63    886.21    810.47    815.94    856.91     2014-01-02
1049     9709.01    888.23    839.44    856.91    884.26     2014-01-03
1050    14239.01    932.16    848.32    884.26    924.69     2014-01-04
1051    21374.20   1029.86    911.36    924.69   1014.74     2014-01-05
1052    23076.53   1093.44    964.74   1014.74   1012.65     2014-01-06
...          ...       ...       ...       ...       ...            ...
1996    24097.29  38728.29  37343.45  37744.70  38184.86     2022-01-29
1997    17354.80  38364.51  37377.53  38184.86  37908.44     2022-01-30
1998    34716.41  38769.81  36660.70  37908.44  38494.66     2022-01-31
1999    32504.03  39281.06  38033.98  38494.66  38721.49     2022-02-01
2000     2195.86  38883.19  38411.19  38721.49  38696.48     2022-02-02

[2954 rows x 6 columns]

In [15]:
Cryptodaily_df.reset_index(drop=True, inplace=True)
Cryptodaily_df.to_json('Crypto_daily.json')

In [16]:
Cryptodaily_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2954 entries, 0 to 2953
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   volumefrom      2954 non-null   float64
 1   high            2954 non-null   float64
 2   low             2954 non-null   float64
 3   open            2954 non-null   float64
 4   close           2954 non-null   float64
 5   timestamp_date  2954 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(5)
memory usage: 138.6 KB

In [17]:
from sqlalchemy import Column, Integer, String, Float,BigInteger,Boolean,Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func
Base=declarative_base()

In [18]:
 class CryptoCurr(Base):
    __tablename__ = 'crypto_price'
    id = Column(Integer, primary_key=True)
    time = Column(Integer)
    high = Column(Float)
    Currency = Column(String)
    Coin = Column(String)
    low = Column(Float)
    open = Column(Float)
    volumefrom = Column(Float)
    volumeto = Column(Float)
    close = Column(Float)
    conversionType = Column(String)
    timestamp_date = Column(Date)
    timestamp_Year = Column(Integer)

In [19]:
engine = create_engine(f'postgresql://postgres:{pwd}@localhost:5432/Crypto_db')

In [20]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [21]:
#conn.execute("DROP TABLE crypto_price")

In [22]:
Newdf_daily.to_sql('crypto_price', con=engine,if_exists="append",index=False)
Base.metadata.create_all(engine)

In [23]:
Base.classes.keys()

[]

In [24]:
session = Session(bind=engine)

In [26]:
#This query is get the Highest close price for all the data. 
results = session.query(func.date_part("Year",CryptoCurr.timestamp_date),func.Max(CryptoCurr.close - CryptoCurr.open)).\
          group_by(func.Date_Part("Year",CryptoCurr.timestamp_date)).limit(10).all() 

df = pd.DataFrame(results,columns=['Year','ClosePrice'])
print(df)

     Year  ClosePrice
0  2019.0     1226.90
1  2016.0       74.95
2  2017.0     3100.22
3  2018.0     1774.70
4  2022.0     1540.04
5  2014.0      457.36
6  2015.0       44.86
7  2020.0     1910.17
8  2021.0     7568.59

In [27]:
#This Result is to get the Total bitcoins traded after 2020 with high price and low price.
results = session.query((CryptoCurr.timestamp_date),func.Max(CryptoCurr.high),func.Min(CryptoCurr.low),CryptoCurr.open,CryptoCurr.close,func.SUM(CryptoCurr.volumefrom)).\
          filter(CryptoCurr.timestamp_date > '2020-01-01').\
          group_by(CryptoCurr.timestamp_date,CryptoCurr.open,CryptoCurr.close,CryptoCurr.volumefrom).\
          order_by(CryptoCurr.volumefrom.desc()).limit(50).all() 


df = pd.DataFrame(results,columns=['Date','high','low','open','close','volumefrom'])
df.head()

        Date      high       low      open     close  volumefrom
0 2020-03-13   5984.55   3948.92   4916.78   5632.58   319316.54
1 2021-05-19  43564.34  29925.20  42886.02  36771.87   290986.06
2 2020-03-12   7984.16   4736.21   7945.36   4916.78   286243.45
3 2021-01-11  38266.42  30308.40  38202.08  35496.03   240328.00
4 2020-03-16   5364.93   4454.22   5357.02   5045.00   203116.86

In [28]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'Data.json',orient='records')

In [29]:
#Latest Closing Price
results = session.query(CryptoCurr.timestamp_date,CryptoCurr.close).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all() 
print(results)

df = pd.DataFrame(results,columns=['Date','close'])
df.head()

[(datetime.datetime(2022, 2, 2, 0, 0), 38696.48)]

        Date     close
0 2022-02-02  38696.48

In [30]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'latestClosePrice.json',orient='records')

In [31]:
#All time high
results = session.query(func.Max(CryptoCurr.high)).\
          group_by(CryptoCurr.high).\
          order_by(CryptoCurr.high.desc()).limit(1).all()

df = pd.DataFrame(results,columns=['high'])
df.head()

       high
0  68978.64

In [32]:

df.to_json(r'Alltimehigh.json',orient='records')

In [33]:
#All time low price

results = session.query(func.Min(CryptoCurr.low)).\
          group_by(CryptoCurr.low).\
          order_by(CryptoCurr.low.asc()).limit(1).all()

df = pd.DataFrame(results,columns=['low'])
df.head()

     low
0  91.66

In [34]:

df.to_json(r'Alltimelow.json',orient='records')

In [35]:
#Latest Opening Price
results = session.query(CryptoCurr.timestamp_date,CryptoCurr.open).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all() 
print(results)

df = pd.DataFrame(results,columns=['Date','open'])
df.head()

[(datetime.datetime(2022, 2, 2, 0, 0), 38721.49)]

        Date      open
0 2022-02-02  38721.49

In [36]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'latestOpenPrice.json',orient='records')

In [37]:
#total volume for current date
results = session.query(CryptoCurr.timestamp_date,func.SUM(CryptoCurr.volumefrom)).\
          group_by(CryptoCurr.timestamp_date).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all()

df = pd.DataFrame(results,columns=['Date','Volume'])
df.head()

        Date   Volume
0 2022-02-02  2195.86

In [38]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'TotalVolume.json',orient='records')

In [39]:
session.close()